body {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(95,95,95,1) 100%);
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.back {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #500000;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

#background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input#ip-input, #subnet-input {
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  border: 5px solid;
  border-radius: 10px;
  border-color: grey;
}

.valid {
  color: green;
}

.invalid {
  color: red;
}

#send{
  margin-left: 150px;
  border-radius: 20px;
  border-color: blue;
  cursor: not-allowed;
}

img{
  margin-top: 400px;
  width: 1300px;
}

span, p{
  color: white;
}

#barra {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1700px;
  z-index: 0; /* Imposta un valore di z-index inferiore per l'immagine della barra */
}

/*--------------------------------------*/
#ip {
  align-items: left;
  position: relative;
  bottom: 750px;
  left: 55%;
  transform: translateX(-50%);
  padding: 10px;
  border-radius: 5px;
  z-index: 1; /* Imposta un valore di z-index più alto per farlo sovrapporre all'immagine della barra */
}

#ip2{
  align-items: left;
  position: relative;
  bottom: 780px;
  left: 55%;
  transform: translateX(-50%);
  padding: 10px;
  border-radius: 5px;
  z-index: 1; /* Imposta un valore di z-index più alto per farlo sovrapporre all'immagine della barra */
}

#subnet {
  align-items: left;
  position: relative;
  bottom: 760px;
  left: 55%;
  transform: translateX(-50%);
  padding: 10px;
  border-radius: 5px;
  z-index: 1; /* Imposta un valore di z-index più alto per farlo sovrapporre all'immagine della barra */
}

#and {
  align-items: left;
  position: relative;
  bottom: 720px;
  left: 55%;
  transform: translateX(-50%);
  padding: 10px;
  border-radius: 5px;
  z-index: 1; /* Imposta un valore di z-index più alto per farlo sovrapporre all'immagine della barra */
}

#network {
  align-items: left;
  position: relative;
  bottom: 790px;
  left: 55%;
  transform: translateX(-50%);
  padding: 10px;
  border-radius: 5px;
  z-index: 1; /* Imposta un valore di z-index più alto per farlo sovrapporre all'immagine della barra */
}

#hostbinary {
  align-items: left;
  position: relative;
  bottom: 760px;
  left: 55%;
  transform: translateX(-50%);
  padding: 10px;
  border-radius: 5px;
  z-index: 1; /* Imposta un valore di z-index più alto per farlo sovrapporre all'immagine della barra */
}

